.blockstory{
    background-color: #FCC858; display: flex;
    flex-direction: column;
    text-align:center;
    h2{
        padding: 20px 0px;
    }
}

.empty-list{
    display: flex;
    justify-content: center;
}

.container-MR{
    padding: 20px 0px;
    background-color: #FCC858;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2{
        padding-bottom: 20px
    }
}

.space-MR{
    background-color: white;
    padding: 20px 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h3{
        display: flex;
        justify-content: center;
    }

    p{
        margin: 0px;
    }
}

.boton-mas-menos{
    border-style: none;
    margin: 10px;
    padding: 5px 10px;  
    border-radius: 5px;
    background-color: #5892FC;
}

.boton-borrar{
    border-style: none;
    margin: 10px;
    padding: 5px 10px;  
    border-radius: 5px;
    background-color: rgb(221, 76, 76);
}


